body{
    color: black;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: url(./mensagem1/msg_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a{
    color: black;
    background-color: rgba(0, 0, 0, 0.6);
    text-decoration: none;
}

.p-3text-dark-emphasisbs-dark-border-subtleborderborder-dark-subtlerounded-3{
    color: black;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    justify-content: center;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid black;
}

.center{
    text-align: center;
}

.container{
    color: black;
    padding: 0px 50px;
}


nav a:hover{
    color: bisque;
}

footer{
    display: flex;
    justify-content: center;
}